body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.logo-img {
  height: 52px;
  width: auto;
  align-items: center;
}

.welcome-heading {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 40px;
}

.welcome-subheading {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: regular;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #7AA3A0;
}

.navbar-buttons {
  display: flex;
  gap: 12px;
}

.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.category-row {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 0 24px 48px;
}

.category-column {
  width: 280px;
  padding: 24px;
  border-radius: 20px;
  color: #1a1a1a;
}

.category-title {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}

.sound-entry {
  text-align: center;
  margin-bottom: 24px;
}

.sound-link {
  text-decoration: #286393 wavy underline;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: regular;
  color: inherit;
}

.sound-link:hover {
  text-decoration: #0015ff wavy underline;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: regular;
  color: inherit;
  color: #02450b;
}

.sound-description {
  margin-bottom: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-style: oblique;
  font-size: 14px;
  margin-top: 4px;
}